.slider {
    position: relative;
}

.slider_active_picture {
    height: 415px;
    width: 100%;
    transform: scale(1);
    transition: transform 300ms;
}

.slider_inactive_picture {
    transform: scale(1.05);
    transition: transform 300ms;
}

.slider_picture {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 10px;
}


.slider_previous,
.slider_next {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider_next {
    right: 0;
}

.slider_next-icon {
    margin-right: 5px;
}

.slider_previous-icon {
    margin-left: 5px;
}

.slider_next-icon,
.slider_previous-icon {
    height: 60px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}