.logements-background {
    width: 81%;
    margin: 20px auto;
    background: #F7F7F7;
    border-radius: 25px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 375px) {

    .logements-background {
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: none;
        border-radius: 25px;
        margin-left: -20px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
}