.logements-background {
    width: 77%;
    padding-bottom: 2%;
    margin: 20px auto;
    background: #F7F7F7;
    border-radius: 25px;
}

.cards {
    margin-right: 3%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 375px) {

    .logements-background {
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: none;
        border-radius: 25px;
        margin-left: 0px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
}