.server {
    display: flex;
    justify-content: flex-end;
}

.server_name {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    font-family: "Montserrat";

}

.server_name p {
    margin: 0;
    text-align: end;
}

.server_picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}