.flex-container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;
    justify-content: end;
}



.footer {
    height: 20%;
    width: 100%;
    background: #000000;
    margin-top: 25px;
    bottom: 0;
    position: relative;


}


.footer img {
    margin-top: 66px;
    height: 39.44px;
    width: 122px;
    margin-left: 48%;
}

.footer p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 142.6%;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 375px) {
    .flex-container {
        width: 415px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        background: #000000;
        bottom: 0;
        width: 600px;



    }

    .footer img {
        margin-top: 54px;
        height: 39.44px;
        width: 122px;
        margin-left: 33%;
    }

    .footer p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 142.6%;
        text-align: center;
        color: #FFFFFF;
    }
}

@media (min-width: 376px) and (max-width: 900px) {
    .footer {
        height: 15%;
        width: 100%;
        background: #000000;
        margin-top: 25px;
        bottom: 0;
        position: relative;


    }

    .footer img {
        margin-top: 40px;
        height: 39.44px;
        width: 122px;
        margin-left: 44%;
    }
}